@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar properties */
::-webkit-scrollbar {
  width: 12px;
  
}

::-webkit-scrollbar-thumb {
  /* background: linear-gradient(transparent,#30ff00); */
  background: linear-gradient(
    43deg,
    #ffffff 0%,
    rgb(206, 20, 212) 33%,
    rgb(206, 20, 212) 66%,
    #ffffff 100%
  );
  border-radius: 6px;
  height: 300px;
}
.MuiTimeline-root {
  margin-bottom: 3rem;
}

/* ***************************************************** */

* {
  box-sizing: border-box;
}
:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  background-color: #FFF6F6;
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 400ms ease;
}
html {
  scroll-behavior: smooth;
}
.main img{
  height: 160px;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100vh;
  color:  white;
}

.nav-wrapper {
  height: 10%;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #e7b86b;
  z-index: 4;
}
.hero-section{
  height: 90vh;
}
.hero-cta{
  height: calc(100vh - 10%);
}
.hero-wrapper{
  background: linear-gradient(
    43deg,
    #000000 15%,
    rgb(212, 20, 20) 33%,
    #ee0808 66%,
    #000000 85%
  );
}
.formDiv label{
  height: 150px;
}
.footer {
  color: white;
  background-color: #967357;
}
.footer-logo {
  height: 80% !important;
}

.success-box svg{
  font-size: 8rem;
}

.upload-another:hover{
  background: linear-gradient(
    43deg,
    #000000 5%,
    rgb(212, 20, 20) 33%,
    #ee0808 66%,
    #000000 95%
  );
}

.nav-link{
  text-decoration: none;
}
.nav-link:hover{
  text-decoration: underline;
  text-decoration-color: rgb(255, 0, 0);
  text-underline-offset: 10px;
  transition: .3s ease-in;
}

#side-nav {
  transition: all 0.5s ease-in-out;
  z-index: 5;
  top: 0;
  height: 100%;
  background-color: rgba(25, 27, 27, 1);
  position: fixed;
}
.inputs input {
  color: white;
  background-color: #5a5959;
}

.cupcake-wrapper{
  padding-top: 2rem;
  background: #f5e0bf
}

/* **********************Background*************** */
:root {
  background: #f5e0bf;
  
  font-family: poppins;
}
.nav-wrapper{
  background: #967357
}
/* *********************************************** */

.App {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 34px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}



.note-body{
  font-size: 30px;
  color: red;
}
.note-title{
  font-size: 20px;
}

/* FIRE WORKS */

#fire-works {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}










/*-------------------------------------------------------- CONTACT US ---------------------------------------------------------- */


.container.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}
.contact_icon {
  display: inline;
  font-size: 1.5rem;
  margin: 0.5rem;
}
.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__option {
  /* background: var(--color-bg-variant); */
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.contact__option .link {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}





.container.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}
.contact_icon {
  display: inline;
  font-size: 1.5rem;
  margin: 0.5rem;
}
.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__option {
  /* background: var(--color-bg-variant); */
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}
.contact__option:hover {
  background: #e7b86b;

  border-color: var(--color-primary-variant);
}
.contact__option .link {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}


/* ----------------------------------------FORM------------------------------ */
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: white;
}

/*------------------------------------ MEDIA QUERIES -------------------------------------*/
/* MEIDUM DEVICES */
@media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* SMALL DEVICES */
@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-sm);
  }
}





/* FOR BACKGROUND  */



/* footer */
.footer-link:hover{
  color: #F1C93B;
}

.footer-insta:hover{
  color: #d62ba8;
}
.footer-linkedin:hover{
  color: #396bd0;
}







.main:hover .s-handles{
  display: flex;
 
}
.main-th:hover .s-handles{
  display: flex;
 
}
.s-handles{
  transition-duration: 1s;
  transition-property: all;
  display: none;
}
.pw{
  transition-duration: 1s;
  transition-property: all;
}
.main:hover .pw{
  margin-top: -80px;
  position: absolute;
}
.main:hover .title{
  color: green;
  font-size: 1.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.t-head{
  padding-left: 0px;
  margin-left: 51rem;
  padding-bottom: 1rem;
}
.main{
  transition-duration:1s ;
  transition-property: all;
  /* box-shadow: 0px 0px 0px rgb(44, 214, 22); */
-webkit-transition:  box-shadow .2s ease-out;
   /* box-shadow: .8px .9px 3px rgb(44, 223, 8); */

}
.main img{
  object-fit: cover;
}
.main-th img{
  object-fit: cover;
}
.main:hover{
  background-color: #e7b86b;
  border-radius: 3rem;
  box-shadow: 0px 0px 40px #F875AA;
   -webkit-transition:  box-shadow .6s ease-in;
}

.s-handles{
  transition-duration: 1s;
  transition-property: all;
  display: none;
}
.main:hover .s-handles{
  display: flex;
 
}
.main-th:hover .s-handles{
  display: flex;
 
}
.main-domain:hover .s-handles{
  display: flex;
 
}
.main-th{
  transition-duration: 1s;
  transition-property: all;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition:  box-shadow .2s ease-out;
}
.main-th:hover{
  background-color: #F875AA;
  border-radius: 3rem;
  box-shadow: 0px 0px 40px rgb(205, 21, 211);
  -webkit-transition:  box-shadow .6s ease-in;
}

.main-th:hover .pw{
  margin-top: -80px;
  position: absolute;
}
.main-th:hover .title{
  color: green;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-th:hover .pos{
  color: green;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;

}

/* domain */

.main-domain:hover .title{
  color: green;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;

}


.main-domain:hover .s-handles{
  display: flex;
 
}

.main-domain{
  transition-duration:1s ;
  transition-property: all;
  /* box-shadow: 0px 0px 0px rgb(44, 214, 22); */
-webkit-transition:  box-shadow .2s ease-out;
   /* box-shadow: .8px .9px 3px rgb(44, 223, 8); */

}

.pw{
  transition-duration: 1s;
  transition-property: all;
}
.main-domain:hover .pw{
  margin-top: -80px;
  position: absolute;
}

.main-domain img{
  object-fit: cover;
}
.main-domain:hover{
  background-color: rgb(255, 167, 252);
  border-radius: 3rem;
}

/*  */

.swiper {
  z-index: 1;
  width: 70% !important;
}
.swiper-slide{
  display: flex !important;
  padding-top: 35px;
}
.swiper{
  /* width: 50% !important; */
  /* margin-top: 3rem; */
}




/* for responsiveness */
@media only screen and (max-width: 1600px) {

}

@media only screen and (max-width: 1450px) {
  .sponsor-card {
    flex-direction: column;
    align-items: center;
  }
  .card {
    margin: 2rem 0;
  }
}

@media only screen and (max-width: 1300px) {
  .sponsor-main-title {
    font-size: 40px;
  }
  .dash {
    width: 300px;
  }
  .about-text {
    font-size: 22px;
  }
  .nav-link {
    margin: 0 2rem;
  }
  .section-card {
    width: 75%;
  }
  /* .prize-logo{
    width: 500px;
    margin-bottom: 4rem; 
  } */
  
}
@media only screen and (max-width: 1200px) {
  .nav-link {
    margin: 0 1.5rem;
  }

}
@media only screen and (max-width: 1200px) {
  .title{
    font-size: 2rem;
  }

}
@media only screen and (max-width: 992px) {
 
}

@media only screen and (max-width: 960px) {
 
}
@media only screen and (max-width: 850px) {
 
  .footer-item {
    font-size: 15px;
  }
  .footer-title {
    font-size: 20px;
  }
  .hero-wrapper{
    flex-direction: column;
  }
  .hero-cta{
    width: 100%;
  }
  .hero-logo{
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  
}
@media only screen and (max-width: 750px) {
  .nav-link {
    display: none;
  }
  .menu-icon {
    display: block;
    margin-right: 2rem;
  }
  .nav-wrapper {
    justify-content: space-between;
    /* padding-right: 40px; */
    font-size: 25px;
  }
  .yt-logo{
    margin-left: 2rem;
  }
  .sidebar-nav-link {
    margin: 2rem 0;
    font-size: 20px;
  }
 
}

@media only screen and (max-width: 700px) {
 
}
@media only screen and (max-width: 650px) {
  .App {
    font-size: 25px;
  }
  .footer-title {
    font-size: 20px;
  }
  .footer-item {
    font-size: 12px;
  }
  .footer-social-icons {
    font-size: 35px;
  }
  .footer-logo {
    display: none;
  }
 
}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 550px){

}

@media only screen and (max-width: 500px) {

  .footer {
    height: 50%;
  }
  .footer-title {
    font-size: 25px;
    font-weight: 900;
  }
  .footer-item {
    font-size: 20px;
    text-align: center;
  }
  .footer-inner {
    flex-direction: column;
    height: 90%;
  }
  .footer-block {
    align-items: center;
  }
 
}

@media only screen and (max-width: 450px){
  
  .footer-title {
    font-size: 20px;
    font-weight: 900;
  }

  
}
@media only screen and (max-width: 380px){
 
}
